/* Header */

.header {
   grid-area: h;
 }
 
 .header__header {
   display: flex;
   justify-content: space-between;
   padding: 20px 0;
 }
 
 .header__logo {
   font-family: 'Orbitron', sans-serif;
   font-size: 24px;
   margin-top: -7px;
 }
 
 .header__search
 :after {content:""; clear:both; display:table}
 .header__search form {
   width: auto;
   float: right;
   margin-right: 30px;
   position: relative;
   right: 150px;
 }
 .header__search input {
   width: 250px;
   height: 42px;
   padding-left: 15px;
   border-radius: 42px;
   border: 2px solid #4E6E9D;
   background: #ffffff;
   outline: none;
   position: relative;
   transition: .3s linear;
   font-family: 'Comfortaa', cursive;
 
 }
 .header__search input:focus {
   width: 300px;
 }
 .header__search
  button {
   width: 42px;
   height: 42px;
   background: none;
   border: none;
   position: absolute;
   top: -2px;
   right: 0;
   cursor: pointer;
 }
 
 .header__search img{ 
   margin-top: 6px;
   margin-right: 5px;
   width: 20px;
 
 }
 
 
 .header__profile {
   display: flex;
   align-items: center;
   margin-top: -10px;
 }
 
 .header__ava {
   width: 50px;
   height: 50px;
   border-radius: 30px;
   margin-right: 10px;
 }
 
 .header__name {
   font-size: 18px;
   font-weight: 600;
 
 }